<section class="import-container">
  <header class="import-header">
    <h1 class="import-title">Importar <em class="import-strong-title">NF-e</em></h1>
    <p class="import-description">Envie um arquivo XML ou cole o conteúdo para processar a nota fiscal.</p>
  </header>

  <app-import-card (onClickAnalyse)="onXmlSubmitted($event)" />

  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  @if (errorMessage() === null && importResult() !== null) {
    <div class="import-status-card">
      <span class="import-message"><strong>✓ NF-e #{{ importResult()?.numeroNota }}
        importada!</strong>{{ importResult()?.emitente }} · {{
          importResult()?.valorTotal?.toLocaleString('pt-BR', {
            style: 'currency',
            currency: 'BRL',
          })
        }}</span>

      <button class="details-bt" (click)="goToDetails()">
        Ver detalhes →
      </button>
    </div>
  } @else if (errorMessage() !== null) {
    <div class="import-status-card error-import">
      <span class="import-message error-import-message">⚠ {{ errorMessage() }}</span>
    </div>
  }
</section>
