<section class="sidebar-container">
  <aside class="sidebar">
    <header class="sidebar-header">
      <div class="logo-icon">NF</div>
      <span class="logo-text">NFe<span>Explorer</span></span>
    </header>

    <nav class="sidebar-nav">
      <span class="nav-section-title">Principal</span>
      <ul class="nav-list">
        <li class="nav-item" routerLink="/importar" routerLinkActive="active">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none"
               stroke="#2563a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="lucide lucide-file-text-icon lucide-file-text">
            <path
              d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z" />
            <path d="M14 2v5a1 1 0 0 0 1 1h5" />
            <path d="M10 9H8" />
            <path d="M16 13H8" />
            <path d="M16 17H8" />
          </svg>
          <span>Importar NF-e</span>
        </li>
      </ul>
    </nav>

    <footer class="sidebar-footer">
      <span class="project-description">NFeExplorer v1.0 .Net 8 + Angular</span>
    </footer>
  </aside>
</section>
