* {
  /*outline: 1px solid red;*/
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: white;
  color: #efefef;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}

mat-progress-bar {
  --mdc-linear-progress-active-indicator-color: #2d6a4f;
  --mdc-linear-progress-track-color: #b7dfc9;
  height: 5px;
}
